---
http:
  routers:
    portainer:
      rule: "Host(`portainer.local`)"
      service: portainer
      entryPoints:
        - web
    homeassistant:
      rule: "PathPrefix(`/`)"
      service: homeassistant
      entryPoints:
        - web
    zigbee2mqtt:
      rule: "Host(`zigbee2mqtt.local`)"
      service: zigbee2mqtt
      entryPoints:
        - web
      middlewares:
        - haHeaders
    grafana:
      rule: "Host(`grafana.local`)"
      service: grafana
      entryPoints:
        - web

  services:
    portainer:
      loadBalancer:
        servers:
          - url: "http://portainer:9000"
    homeassistant:
      loadBalancer:
        servers:
          - url: "http://localhost:8123"
    zigbee2mqtt:
      loadBalancer:
        servers:
          - url: "http://zigbee2mqtt:8124"
    grafana:
      loadBalancer:
        servers:
          - url: "http://grafana:3000"

  middlewares:
    haHeaders:
      headers:
        customrequestheaders:
          Connection: Upgrade