---
http:
  services:
    homeassistant-srv:
      loadBalancer:
        servers:
          - url: "http://host.docker.internal:8123"
        passhostheader: 'true'
  middlewares:
    sslheader:
      headers:
        customrequestheaders:
          X-Forwarded-Proto: 'https'
    comp:
      compress: 'true'
  routers:
    homeassistant-rt:
      rule: "Host(`{{ smarthome.domain }}`)"
      entryPoints:
        - websecure
      middlewares:
        - sslheader
        - comp
      service: homeassistant-srv
