---
api:
  dashboard: true
  insecure: true

accesslog: true

providers:
  docker:
    exposedbydefault: false
    network: proxy
  file:
    filename: /etc/traefik/traefik_dynamic.yml
    watch: true
  avahi:
    refreshInterval: 10s
    domain: local

entrypoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"

certificatesresolvers:
  letsencrypt:
    acme:
      email: {{ letsencrypt.email }}
      storage: /etc/traefik/letsencrypt/acme.json
      tlschallenge: true