---
http:
  serversTransports:
    ignorecert:
      insecureSkipVerify: true
  services:
    homeassistant-srv:
      loadBalancer:
        servers:
          - url: "http://host.docker.internal:8123"
    musicassistant-srv:
      loadBalancer:
        servers:
          - url: "http://host.docker.internal:8095"
  middlewares:
    sslheader:
      headers:
        customrequestheaders:
          X-Forwarded-Proto: 'https'
    comp:
      compress: 'true'
  routers:
    homeassistant-rt:
      rule: "Host(`{{ smarthome.domain }}`)"
      entryPoints:
        - websecure
      middlewares:
        - sslheader
        - comp
      service: homeassistant-srv
    musicassistant-rt:
      rule: "Host(`musicassistant.{{ smarthome.domain }}`)"
      entryPoints:
        - websecure
      middlewares:
        - sslheader
        - comp
      service: musicassistant-srv
