---
http:
  services:
    homeassistant-srv:
      loadBalancer:
        servers:
          - url: "http://host.docker.internal:8123"
  routers:
    homeassistant-rt:
      rule: "Host(`{{ smarthome.domain | trim }}`)"
      entryPoints:
        - websecure
      service: homeassistant-srv