# Loads default set of integrations. Do not remove.
default_config:

http:
  ip_ban_enabled: true
  login_attempts_threshold: 12
  use_x_forwarded_for: true
  trusted_proxies:
    - 192.168.0.180
    - 192.168.0.0/255 # Local LAN Subnet
    - 172.18.0.0/24 # Docker Subnet
    - 172.17.0.0/24
    - 127.0.0.1
    - 0.0.0.0
    - ::1
    - fe80::/64
  server_port: 8123
  server_host: 0.0.0.0



homeassistant:
  internal_url: "http://localhost:8123"

logger:
  default: info

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
