# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

homassistant:
  {{ homeassistant | combine(secret.homeassistant | default({}), recursive=true) | to_nice_yaml | indent(2) }}


http:
  ip_ban_enabled: false
  login_attempts_threshold: 12
  use_x_forwarded_for: true
  trusted_proxies:
    - 127.0.0.1
    - {{ ansible_default_ipv4.address }}:24
    - 172.16.0.0/16
    - 172.17.0.0/16
    - 172.18.0.0/16
    - 172.19.0.0/16
    - 172.20.0.0/16
  server_port: 8123
  server_host: 0.0.0.0

logger:
  default: info
